
{{>header}}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

          <br/>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{page}}</h1>
          </div>

          <!-- Content Row -->
          <div class="row">
            
            <!-- Content Column -->
            <div class="col-lg-12 mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">FULLWIN COVID-19 TRACKER</h6>
                </div>
                <div class="card-body">
                   The Philippine FullWin Group of Companies Inc. has initiated Covid-19 Tracker to provide an updated status of Covid-19 cases worldwide and specifically in Philippines. Information is available for Confirmed, Recovered, Active and Deaths. The data used from this app is from COVID-19 Data Repository by the Center for Systems Science and Engineering (CSSE) at Johns Hopkins University. 
                    
                   This is the data repository for the 2019 Novel Coronavirus Visual Dashboard operated by the Johns Hopkins University Center for Systems Science and Engineering (JHU CSSE). Also, Supported by ESRI Living Atlas Team and the Johns Hopkins University Applied Physics Lab (JHU APL).
                <br/><br/>
                <small><strong>Disclaimer</strong><br/>
                    The information contained in this website is for general information purposes only. The information is provided by datasets from available API services and the creator does not own, maintain, or modify the datasets. While website creator keeps the information, the creator makes no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
                </small>
                <br/><br/>
                Sources: <a href="https://covid19api.com/" target="_blank">Covid-19 API</a>
                </div>
            </div>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{{>footer}}