<header>
    <h1>{{title}}</h1>

    <div class="navigation">
        <a href="/">World Wide Summary</a>
        <a href="/philippines">Philippines Summary</a>
    </div>
    
</header>
<p><small><strong>Notes:</strong> The data or numbers shown are data the are from an external api. This api may have diffirence from local data from Department of Health Philippines but it will be bacuase of time constraints. Rest assured that the numbers are being use to get the latest number Covid-19 cases not only for the Philippines but also worldlwide. </small></p>
<div class=""></div>